{{> header }}


<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">

          <p>
            {{#if user}}​
              {{#ifCond user.name '==' post.name}}
                <span><a class="edit" href="/edit/{{ post.name }}/{{ post.time.day }}/{{ post.title }}">编辑</a>
                </span>
                <span><a class="edit" href="/remove/{{ post.name }}/{{ post.time.day }}/{{ post.title }}">删除</a>
                </span>
              {{/ifCond}}
            {{/if}}
          </p>
          <p class="pull-right">

            {{#each post.tags}}
              <a class="label label-default" href="/tags/{{this}}">{{this}}</a>
            {{/each}}
          </p>
          <p>{{{ post.post }}}</p>
          <ul class="list-inline">
            <li><a href="/u/{{post.name}}">{{ post.name }}</a>

            </li>
            <li><a href="/u/{{post.name}}/{{post.time.day}}/{{post.title}}">{{ post.time.minute }}</a>
            </li>
            <li><a href="/u/{{post.name}}/{{post.time.day}}/{{post.title}}"><i class="glyphicon glyphicon-comment"></i> {{post.comments.length}} Comments</a>
            </li>
            <li><a href="/u/{{post.name}}/{{post.time.day}}/{{post.title}}"><i class="glyphicon glyphicon-user"></i> {{post.pv}} Reads</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{> comment }} {{> footer }}
